---
---
<!DOCTYPE html>
<html>
    <head>
        <script src="papaparse.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <style>
            dt
            {
                font-weight:bold;
            }
            dt::after
            {
                content:":";
            }
            dd
            {
                margin-left:0;
            }
        </style>
    </head>
    <body>
        <div ng-app="App" ng-controller="Controller">
            <div style="width:30%; float:left;">
                <h2>Donation Products</h2>
                <ol ng-if="!StatusDonate.Completed">
                    <li>
                        <strong>Download CSV:</strong>
                        <a target="_blank" href="https://truthforlife.org/admin/donations/donation/export/">Donation Exports</a>
                    </li>
                    <li>
                        <strong>Upload CSV:</strong>
                        <input type="file" data-import-donate-csv class="form-control">
                    </li>
                </ol>
                <div ng-if="StatusDonate.Completed">
                    <dl ng-repeat="Code in StatusDonate.Codes track by $index">
                        <dt>
                            <span ng-bind="Code.ID"></span> / <span ng-bind="Code.Name"></span>
                        </dt>
                        <dd><span ng-bind="Code.Count"></span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <span>Total</span>
                        </dt>
                        <dd><span ng-bind="StatusDonate.Total"></span></dd>
                    </dl>
                </div>
            </div>
            <div style="width:30%; float:left;">
                <h2>Store Orders</h2>
                <ol ng-if="!StatusStore.Completed">
                    <li>
                        <strong>Download CSV:</strong>
                        <a target="_blank" href="https://truthforlife.org/admin/shop/order/export/">Store Exports</a>
                    </li>
                    <li>
                        <strong>Upload CSV:</strong>
                        <input type="file" data-import-store-csv class="form-control">
                    </li>
                </ol>
                <div ng-if="StatusStore.Completed">
                    <dl ng-repeat="Code in StatusStore.Codes track by $index">
                        <dt>
                            <span ng-bind="Code.ID"></span> / <span ng-bind="Code.Name"></span>
                        </dt>
                        <dd><span ng-bind="Code.Count"></span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <span>Total</span>
                        </dt>
                        <dd><span ng-bind="StatusStore.Total"></span></dd>
                    </dl>
                </div>
            </div>
            <div style="width:30%; float:left;">
                <h2>Store and Donate totals</h2>
                <dl>
                    <dt>
                        <span>Grand Total</span>
                    </dt>
                    <dd><span ng-bind="StatusStore.Total + StatusDonate.Total"></span></dd>
                </dl>
            </div>
        </div>

        <script>
var DirectiveFunction = function(inParser)
{
    var directive = {};
    directive.link = function(inScope, inElement, inAttributes)
    {
        function handlerEnter(inEvent){
            if(inEvent){
                inEvent.preventDefault();
            }
            inElement.addClass("Import");
            inEvent.dataTransfer.effectAllowed = 'copy';
            return false;
        }
        
        function handlerDrop(inEvent){
            inElement.removeClass("Import");
            if(inEvent){
                inEvent.preventDefault();
            }
            parse(event.dataTransfer.files[0]);
            return false;
        }
        
        function handlerChange(inEvent){
            inEvent.stopImmediatePropagation();
            parse(inEvent.target.files[0]);
        };
        
        function parse(inFile){
            inParser.Parse(inFile, function(){
                inScope.$apply();
            });
        }
        
        function handlerLeave(){
            inElement.removeClass("Import");
        }
        
        inElement.on("dragenter dragstart dragend dragleave dragover drag drop", function (inEvent) {inEvent.preventDefault();});
        inElement.on('dragenter', handlerEnter);
        inElement.on('dragleave', handlerLeave);
        inElement.on('drop', handlerDrop);
        inElement.on('change', handlerChange);
        inElement.on('click', function(inEvent){inEvent.stopImmediatePropagation();});
    };
    return directive;
};

var App;
App = angular.module("App", []);
App.directive("importStoreCsv", ["ParseStore", DirectiveFunction]);
App.directive("importDonateCsv", ["ParseDonate", DirectiveFunction]);
App.factory("ParseStore", [function()
{
    var obj = {};
    obj.Fields = {
        Code:[],
        Quantity:[]
    };
    obj.Codes = [{
        ID:"32283",
        Name:"Prepare Him Room",
        Count:0
    },
    {
        ID:"32282K",
        Name:"Prepare Him Room Kit",
        Count:0
    }];
    obj.Total = 0;
    obj.Completed = false;
    obj.Parse = function(inData, inHandlerDone)
    {
        Papa.parse(inData, {
            complete: function(results) {
                var i, j, k;
                var row;
                var cell;
                var match;
                var count;
                var code;

                for(i=0; i<obj.Codes.length; i++)
                {
                    console.log("initial count:", obj.Codes[i]);
                }

                // go through the header and collect the code/qualtity column pairs
                for(i=0; i<results.data[0].length; i++)
                {
                    cell = results.data[0][i];
                    if(cell == "Product Code")
                    {
                        obj.Fields.Code.push(i);
                    }
                    if(cell == "Quantity")
                    {
                        obj.Fields.Quantity.push(i);
                    }
                }
                
                console.log(obj.Fields);
                console.log("Rows:", results.data.length);
                for(i=1; i<results.data.length; i++)
                {
                    row = results.data[i];

                    //for each product code field in the row...
                    for(j=0; j<obj.Fields.Code.length; j++)
                    {
                        cell = row[obj.Fields.Code[j]];
                        // see if it has a code we are looking for..
                        for(k=0; k<obj.Codes.length; k++)
                        {
                            code = obj.Codes[k];
                            // if it has one of the codes we want...
                            if(code.ID == cell)
                            {
                                // tally up with the matchng quantity column
                                count = parseInt(row[obj.Fields.Quantity[j]]);
                                code.Count += count;
                                obj.Total += count;
                                code.HasBeenSet = true;
                                break;
                            }
                        }
                    }
                }
                obj.Completed = true;
                inHandlerDone();
            }
        });

    };
    return obj;
}]);
App.factory("ParseDonate", [function()
{
    var obj = {};
    obj.FieldIndex;
    obj.Codes = [{
        ID:"32283",
        Name:"Prepare Him Room",
        Count:0
    },
    {
        ID:"32282K",
        Name:"Prepare Him Room Kit",
        Count:0
    }];
    obj.Total = 0;
    obj.Completed = false;
    obj.Parse = function(inData, inHandlerDone)
    {
        Papa.parse(inData, {
            complete: function(results) {
                var i, j, k;
                var row;
                var cell;
                var match;
                var count;
                var code;

                for(i=0; i<obj.Codes.length; i++)
                {
                    console.log("initial count:", obj.Codes[i]);
                }

                // find the product number column
                for(i=0; i<results.data[0].length; i++)
                {
                    cell = results.data[0][i];
                    if(cell == "Product Number")
                    {
                        obj.FieldIndex = i;
                        break;
                    }
                }
                
                console.log(obj.Fields);
                console.log("Rows:", results.data.length);

                for(i=1; i<results.data.length; i++)
                {
                    cell = results.data[i][obj.FieldIndex];
                    for(j=0; j<obj.Codes.length; j++)
                    {
                        code = obj.Codes[j];
                        // if it has one of the codes we want...
                        if(code.ID == cell)
                        {
                            code.Count++;
                            obj.Total++;
                            code.HasBeenSet = true;
                            break;
                        }
                    }
                }
                obj.Completed = true;
                inHandlerDone();
            }
        });

    };
    return obj;
}]);
App.controller("Controller", ["$scope", "ParseStore", "ParseDonate", function($scope, ParseStore, ParseDonate)
{
    $scope.StatusStore = ParseStore;
    $scope.StatusDonate = ParseDonate;
}]);    
        </script>
    </body>
</html>
