<!DOCTYPE html>
<html>
<head>
    <script src="papaparse.js"></script>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        h3
        {
            border-bottom: 1px solid #eee;;
        }
        td, th
        {
            min-width:200px;
            text-align:left;
        }
    </style>
</head>
<body>
    <div id="app">
        <div>
            <h3>Add Code</h3>
            <input type="text" v-model="user.code"/>
            <button v-on:click="addCode">+</button>
        </div>
        <div v-if="codes.length > 0">
            <h3>Codes</h3>
            <table>
                <tr>
                    <th>Code</th><th>Count</th><th></th>
                </tr>
                <tr v-for="code in codes">
                    <td>{{code.id}}</td><td>{{code.count}}</td><td><button v-on:click="removeCode(code)">-</button></td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Store Orders Data</h3>
            <input v-on:change="parseStore" type="file">
        </div>
    </div>

<script>
    Vue.createApp({
        data()
        {
            return {
                csvStore:{
                    data:[],
                    codes:[],
                    counts:[]
                },
                codes:[],
                user:{
                    code:"14109USB"
                }
            };
        },
        methods:{
            greatReset()
            {
                var i, j, k;
                var cellCode, cellCount;
                var code;

                // reset all the per-code counts
                for(i=0; i<this.codes.length; i++)
                {
                    this.codes[i].count = 0;
                }

                // re-collect the counts from the data
                for(i=1; i<this.csvStore.data.length; i++)
                {
                    row = this.csvStore.data[i];

                    //for each product code field in the row...
                    for(j=0; j<this.csvStore.codes.length; j++)
                    {
                        cellCode = row[ this.csvStore.codes[j] ];

                        // see if it has a code we are looking for..
                        for(k=0; k<this.codes.length; k++)
                        {
                            code = this.codes[k];
                            // if it has one of the codes we want...
                            if(code.id == cellCode)
                            {
                                // tally up with the matchng quantity column
                                cellCount = parseInt(row[ this.csvStore.counts[j] ]);
                                code.count += cellCount;
                                break;
                            }
                        }
                    }
                }
            },
            addCode()
            {
                console.log(this.user.code);
                this.codes.push({
                    id:this.user.code,
                    count:0
                });
                this.greatReset();
            },
            removeCode(inCode)
            {
                var i;
                for(i=0; i<this.codes.length; i++)
                {
                    if(this.codes[i] == inCode)
                    {
                        this.codes.splice(i, 1);
                        return;
                    }
                }
            },
            parseStore(inEvent)
            {
                let parseDone = results =>
                {
                    this.csvStore.data = results.data;
                    this.csvStore.columns = [];

                    for(let i=0; i<results.data[0].length; i++)
                    {
                        cell = results.data[0][i];
                        switch(cell.toLowerCase())
                        {
                            case "product code" :
                                this.csvStore.codes.push(i);
                                break;
                            case "quantity" :
                                this.csvStore.counts.push(i);
                        }
                    }
                
                    this.greatReset();
                
                };

                Papa.parse(inEvent.target.files[0], {complete:parseDone});
            }
        }
    }).mount("#app");
</script>
</body>
</html>