---
---
<!DOCTYPE html>
<html>
    <head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="Tabular.js"></script>
        <script src="papaparse.js"></script>
        <style>
            *
            {
                margin:0;
                padding:0;
                color:#000;
                font-family:Arial;
                font-size:12px;
            }
            form
            {
                width:500px;
                margin:0 auto;
            }
            *[data-import-csv], textarea
            {
                display:block;
                width:100%;

                padding:1rem;
                margin:1rem;
                border:8px dashed #aaa;
                
                background:#fff;
                border-radius:10px;
                cursor:pointer;
                
                text-align:center;
            }
            *[data-import-csv]:hover, *[data-import-csv].Import, textarea:hover
            {
                border-color:#FA0;
                background: #fdd48f;
            }
            table, h2
            {
                width:450px;
                margin:0 auto 1rem
            }
            table:hover
            {
                background:#bbb;
            }
            tr:hover
            {
                background:#fff;
            }
            td
            {
                padding:0.15em;
                border-bottom:1px dashed #999;
            }
            td.Extra
            {
                display:none;
            }
            td.Count
            {
                width:50px;
            }
            td.ProductCode
            {
                width:100px;
            }
            td.Description
            {
                width:300px;
            }
            th
            {
                text-align:left;
            }
            h2
            {
                font-size:1.8em;
            }
        </style>
    </head>
    <body>
        <div ng-app="App" ng-controller="Controller" ng-cloak>
            
            <form ng-hide="Done">
                <label>Upload/drag-and-drop CSV:</label>
                <input type="file" data-import-csv class="form-control">
                <label>Pase from Excel:</label>
                <textarea ng-model="Paste" ng-change="Convert();"></textarea>
            </form>
            
            <h2 ng-show="Done">Volunteer</h2>
            <table class="Ship" ng-show="Product.Count" ng-repeat="(Key, Product) in Ship">
                <tr>
                    <th colspan="3"><strong ng-bind="Key"></strong>: <em ng-bind="Product.Count"></em></th>
                </tr>
                <tr ng-if="Row.Product != 'MP3CD'" ng-repeat="Row in Product.Rows track by $index">
                    <td class="Standard Count" ng-bind="Row.Count"></td>
                    <td class="Standard ProductCode" ng-bind="Row.ProductCode"></td>
                    <td class="Standard Description" ng-bind="Row.Description"></td>
                    <td class="Extra Product" ng-bind="Row.Product"></td>
                    <td class="Extra Code" ng-bind="Row.Code"></td>
                    <td class="Extra GS" ng-bind="Row.GS"></td>
                </tr>
                <tr ng-if="Row.Product == 'MP3CD'" ng-repeat="Row in Product.Rows track by $index">
                    <td class="Standard Count" ng-bind="Row.Count"></td>
                    
                    <td class="Standard Description" ng-bind="Row.Description"></td>
                    <td class="Standard ProductCode" ng-bind="Row.ProductCode"></td>
                    
                    <td class="Extra Product" ng-bind="Row.Product"></td>
                    <td class="Extra Code" ng-bind="Row.Code"></td>
                    <td class="Extra GS" ng-bind="Row.GS"></td>
                </tr>
            </table>
            
            <h2 ng-show="Done" style="page-break-before:always;">Create</h2>
            <table class="Make" ng-show="Product.Count" ng-repeat="(Key, Product) in Make">
                <tr>
                    <th colspan="3"><strong ng-bind="Key"></strong>: <em ng-bind="Product.Count"></em></th>
                </tr>
                <tr ng-if="Row.Product != 'MP3CD'" ng-repeat="Row in Product.Rows track by $index">
                    <td class="Standard Count" ng-bind="Row.Count"></td>
                    <td class="Standard ProductCode" ng-bind="Row.ProductCode"></td>
                    <td class="Standard Description" ng-bind="Row.Description"></td>
                    <td class="Extra Product" ng-bind="Row.Product"></td>
                    <td class="Extra Code" ng-bind="Row.Code"></td>
                    <td class="Extra GS" ng-bind="Row.GS"></td>
                </tr>
                <tr ng-if="Row.Product == 'MP3CD'" ng-repeat="Row in Product.Rows track by $index">
                    <td class="Standard Count" ng-bind="Row.Count"></td>

                    <td class="Standard Description" ng-bind="Row.Description"></td>
                    <td class="Standard ProductCode" ng-bind="Row.ProductCode"></td>

                    <td class="Extra Product" ng-bind="Row.Product"></td>
                    <td class="Extra Code" ng-bind="Row.Code"></td>
                    <td class="Extra GS" ng-bind="Row.GS"></td>
                </tr>
            </table>
            <table class="Make" ng-show="Done">
                <tr>
                    <th><strong>MP3CDs and CDs</strong>: <em ng-bind="Make.MP3CD.Count + Make.CD.Count;"></em></th>
                </tr>
            </table>
            
        </div>

        <script>
var App;
App = angular.module("App", ["Tabular"]).config(["$interpolateProvider", function(inInterpolate)
{
    inInterpolate.startSymbol('{[{').endSymbol('}]}');
}]);
App.directive("importCsv", ["Rows", function(Rows)
{

    var directive = {};

    directive.link = function(inScope, inElement, inAttributes){

        function handlerEnter(inEvent){
            if(inEvent){
                inEvent.preventDefault();
            }
            inElement.addClass("Import");
            inEvent.dataTransfer.effectAllowed = 'copy';
            return false;
        }
        
        function handlerDrop(inEvent){
            inElement.removeClass("Import");
            if(inEvent){
                inEvent.preventDefault();
            }
            parse(event.dataTransfer.files[0]);
            return false;
        }
        
        function handlerChange(inEvent){
            inEvent.stopImmediatePropagation();
            parse(inEvent.target.files[0]);
        }
        
        
        function handlerLeave()
        {
            inElement.removeClass("Import");
        }
        
        function parse(inFile)
        {
            Papa.parse(inFile, {
                complete: function(inCSV)
                {
                    Rows(inCSV.data);
                    inScope.$apply();
                }
            });
        }

        
        inElement.on("dragenter dragstart dragend dragleave dragover drag drop", function (inEvent) {inEvent.preventDefault();});
        inElement.on('dragenter', handlerEnter);
        inElement.on('dragleave', handlerLeave);
        inElement.on('drop', handlerDrop);
        inElement.on('change', handlerChange);
        inElement.on('click', function(inEvent){
            inEvent.stopImmediatePropagation();
            
        })
    };
    
    return directive;
    
}]);
App.factory("Sort", [function()
{
    var obj = {};
    obj.SortInternal = function(x, y)
    {
        if(x<y){return -1;}
        if(x>y){return 1;}
        return 0;  
    }
    obj.PivotDescription = function(a, b)
    {
        var move;
        move = obj.SortInternal(a.GS, b.GS);
        if(move == 0)
        {
            move = obj.SortInternal(a.Description, b.Description);
        }
        return move;
    };
    obj.PivotCode = function(a, b)
    {
        var move;
        move = obj.SortInternal(a.GS, b.GS);
        if(move == 0)
        {
            move = obj.SortInternal(a.Code, b.Code);
        }
        return move;
    };
    return obj;
}]);
App.factory("Collection", [function()
{
    return function(inName, inSort)
    {
        var col;
        col = {};
        col.Name = inName;
        col.Count = 0;
        col.Rows = [];
        col.Sort = inSort;
        col.push = function(inRow)
        {
            col.Rows.push(inRow);
            col.Count += inRow.Count;
        };
        col.Update = function()
        {
            col.Rows.sort(col.Sort);
        };
        return col;
    }
}]);
App.factory("Collections", ["Sort", "Collection", function(Sort, Collection)
{
    var obj;
    obj = {};
    obj.All = [
        Collection("Book", Sort.PivotDescription),
        Collection("CD", Sort.PivotDescription),
        Collection("MP3CD", Sort.PivotDescription),
        Collection("USB", Sort.PivotDescription),
        Collection("Misc", Sort.PivotDescription),
        
        Collection("CD", Sort.PivotCode),
        Collection("DVD", Sort.PivotCode),
        Collection("MCD", Sort.PivotCode),
        Collection("MP3CD", Sort.PivotDescription),
    ];
    obj.Ship = {
        Book:obj.All[0],
        CD:obj.All[1],
        MP3CD:obj.All[2],
        USB:obj.All[3],
        Misc:obj.All[4]
    };
    obj.Make = {
        CD:obj.All[5],
        DVD:obj.All[6],
        MCD:obj.All[7],
        MP3CD:obj.All[8] 
    };
    
    obj.Done = function(){};
    obj.Sort = function()
    {
        var i;
        for(i=0; i<obj.All.length; i++)
        {
            obj.All[i].Update();
        }
    };
    
    return obj;
}]);
App.factory("Exceptions", [function()
{
    return [15905, 14609, 14109, 14212];
}]);

App.factory("Catalogue", ["Collections", "Exceptions", function(Collections, Exceptions)
{
    return function(inRow)
    {
        var i;
        var row;
        var exceptionsLUT;
        
        if(inRow.length < 3)
        {
            return;
        }
        
        function Expand(inRow, inCollection)
        {
            var words = inRow.Description.replace(/[-(),]/g, '').split(" ");
            var wordNumber;
            var seriesName;
            var setSize;
            var numCheck = false;
            var j, k;
        
            if(words.length > 3)
            {
                for(j=0; j<words.length; j++)
                {
                    if(words[j].toUpperCase() == "VOLUME")
                    {
                        if(words[j+1] && words[j+1].toUpperCase() == "SET")
                        {
                            numCheck = true;
                            wordNumber = words[j-1].toUpperCase();
                            words.splice(j-1, 3);
                            seriesName = words.join(" ");
                            break;
                        }
                    }
                }
        
                if(numCheck)
                {
                    setSize = parseInt(wordNumber);
                    if(isNaN(setSize))
                    {
                        switch(wordNumber)
                        {
                            case "TWO" :
                                setSize = 2;
                                break;
                            case "THREE" :
                                setSize = 3;
                                break;
                            case "FOUR" :
                                setSize = 4;
                                break;
                            case "FIVE" :
                                setSize = 5;
                                break;
                            case "SIX" :
                                setSize = 6;
                                break;
                            case "SEVEN" :
                                setSize = 7;
                                break;
                            case "EIGHT" :
                                setSize = 8;
                                break;
                            case "NINE" :
                                setSize = 9;
                                break;
                            case "TEN" :
                                setSize = 10;
                                break;
                        }
                    }
        
                    var countDown = parseInt(inRow.Code);
                    var copy;
                    var copies = [];
                    for(j=0; j<setSize; j++)
                    {
                        copy = {};
                        for(prop in inRow)
                        {
                            copy[prop] = inRow[prop];
                        }
                        copy.Code = countDown-j-1; // code
                        copy.ProductCode = copy.Code + copy.Product; // productcode
                        copy.Description = seriesName + " - Volume " + (setSize-j);
                        
                        inCollection.push(copy);
                    }
                    return true;
                }
                
                inCollection.push(inRow);
                return false;
            }
        }

        row = {
            Count:parseInt(inRow[0]),
            ProductCode:inRow[1].toUpperCase(),
            Description:inRow[2],
            Product:"",
            Code:0,
            GS:false,
        };
        
        // check for prefixes
        // remove gs prefix
        var gsClip = row.ProductCode;
        var firstTwo = gsClip.substring(0, 2);
        if(firstTwo == "GS")
        {
            gsClip = row.ProductCode.substring(2);
            row.GS = true;
        } //continue processing using gsClip instead of row.ProductCode
        else
        {
            if(firstTwo == "PI")
            {
                row.Product = "PI";
                row.Code = parseInt(gsClip.substring(2));
                Collections.Ship.Misc.push(row);
                return row;
            }
            if(firstTwo[0] == "Y")
            {
                row.Product = "Y";
                row.Code = parseInt(gsClip.substring(1));
                Collections.Ship.Misc.push(row);
                return row;
            }
        }
        
        // operate on the rest of the products by cutting product code on the first non-number character
        for(i=0; i<gsClip.length; i++)
        {
            if(isNaN(parseInt( gsClip[i] )))
            {
                row.Product = gsClip.substring(i);
                row.Code = parseInt(gsClip.substring(0, i));
                break;
            }
        }

        if(row.Product == "" || row.Product == "S" || row.Product == "A")
        {
            row.Product = "BOOK";
            Collections.Ship.Book.push(row);
            return row;
        }
        
        if(row.Product == "CD")
        {
            if(row.Code > 9999)
            {
                Collections.Ship.CD.push(row);
                return;
            }
            Collections.Make.CD.push(row);
            return;
        }
        
        if(row.Product == "DVD")
        {
            if(row.Code > 9999)
            {
                Collections.Ship.DVD.push(row);
                return;
            }
            Collections.Make.DVD.push(row);
            return;
        }
        
        if(row.Product == "MCD")
        {
            Collections.Make.MCD.push(row);
            return;
        }
        
        if(row.Product == "MP3CD")
        {
            for(i=0; i<Exceptions.length; i++)
            {
                if(row.Code == Exceptions[i])
                {
                    Collections.Ship.MP3CD.push(row)
                    return;
                }
            }
            Expand(row, Collections.Make.MP3CD);
            return;
        }
        
        if(row.Product == "USB")
        {
            Collections.Ship.USB.push(row);
            return;
        }
    };
}]);
App.factory("Rows", ["Catalogue", "Collections", function(Catalogue, Collections)
{
    return function(inData)
    {
        var rows;
        var i, j;
        var cut;
        
        function cut(inTable)
        {
            var i, j;
            for(i=0; i<inTable.length; i++)
            {
                for(j=0; j<inTable[i].length; j++)
                {
                    if(inTable[i][j].toUpperCase() == "PRODUCTCODE")
                    {
                        inTable.splice(0, i+1);
                        return inTable;
                    }
                }
            }
        }
        
        cut(inData);
        for(i=0; i<inData.length; i++)
        {
            Catalogue(inData[i]);
        }
        Collections.Sort();
        Collections.Done();
    }
}]);
App.controller("Controller", ["$scope", "Rows", "Collections", function($scope, Rows, Collections)
{
    Collections.Done = function()
    {
        $scope.Done = true;
    };

    $scope.Convert = function()
    {
        Rows(Papa.parse($scope.Paste).data);
    };
    
    $scope.Done = false;  
    $scope.Paste = "";
    $scope.Ship = Collections.Ship;
    $scope.Make = Collections.Make;
    
}]);    
        </script>
    </body>
</html>
